{% extends "layout.html" %}

{% block contained %}
<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h1 style="margin-top: 0;">About This PheWeb</h1>
    <br>
    <p>This site was built with <a href="https://github.com/veetir/pheweb/">veetir/PheWeb</a> 
      which is a fork of <a href="https://github.com/statgen/pheweb/">statgen/PheWeb</a> version {{ config.PHEWEB_VERSION }}.</p>
    <br>
    <p>All positions are on GRCh{{ config.GRCH_BUILD_NUMBER }}.</p>
  </div>
</div>
{% endblock %}
