{% extends "layout.html" %}
{% block navbar_left %}{% endblock %}
{% block contained %}

<div class="home-hero">
  <h1 class="home-title">PheWeb</h1>
  <div id="home-searchbox">
    <form action="{{ url_for('.go') }}">
      <fieldset>
        <div class="form-group search-field">
          <img
            src="{{ url_for('.static', filename='images/search.svg') }}"
            alt=""
            class="search-icon icon-invert"
            aria-hidden="true">
          <input
            name="query"
            class="form-control typeahead search-input"
            autocomplete="off"
            type="text"
            placeholder="Search for a variant, gene, or phenotype"
            aria-label="Search">
        </div>
      </fieldset>
    </form>
    {% include 'index/below-query.html' ignore missing %}
  </div>
</div>
{% endblock %}
