{% extends "layout.html" %}


{% block in_head %}
<script type="text/javascript">
  window.pheno = {{ pheno|tojson|safe}};
  window.model.tooltip_lztemplate = {{ tooltip_lztemplate|tojson }};
</script>
{# Includes for LocusZoom.js (from CDN) #}
<link href="https://cdn.jsdelivr.net/npm/locuszoom@{{ config.LZJS_VERSION }}/dist/locuszoom.css" rel="stylesheet" type="text/css" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/d3@^5.16.0" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/locuszoom@{{ config.LZJS_VERSION }}/dist/locuszoom.app.min.js" type="text/javascript"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>


<script src="{{ url_for('.static', filename='region.js') }}"></script>
<link  href="{{ url_for('.static', filename='region.css') }}" rel="stylesheet" type="text/css">
<script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stopword@3.1.5"></script>
<script src="{{ url_for('.static', filename='gwas_catalog.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2/dist/fuse.min.js"></script>
<script src="{{ url_for('.static', filename='finngen_catalog.js') }}"></script>
<script src="{{ url_for('.static', filename='finngen_susie.js') }}"></script>
<script type="text/javascript">
  window.endpointsTsvUrl = "{{ url_for('bp.static', filename='endpoints.tsv') }}";
</script>
{% endblock %}


{% block contained %}
<div class="container-fluid">
  {% for key in ['num_cases', 'num_controls', 'num_samples'] %}
  {% if key in pheno %}
    {% if '<' in pheno[key]|string %}
      <div class="alert alert-danger" role="alert"><b>Warning:</b> This phenotype has {{ pheno[key] }} {{ key.replace('num_','') }}.</div>
    {% elif 0 < pheno[key]|int < 200 %}
      <div class="alert alert-danger" role="alert"><b>Warning:</b> This phenotype only has {{ pheno[key] }} {{ key.replace('num_', '') }}.</div>
    {% endif %}
  {% endif %}
  {% endfor %}
  <div class="row">
    <div class="col-xs-12">
      <h1>{% include "region/h1.html" %}</h1>
    </div>
  </div>
  <div class="row">
      <div class="pheno-info col-xs-12">
          {% if 'num_cases' in pheno %}
            <p><b>{{ pheno.num_cases }}</b> cases, <b>{{ pheno.num_controls }}</b> controls.</p>
          {% elif 'num_samples' in pheno %}
            <p><b>{{ pheno.num_samples }}</b> samples</p>
          {% endif %}
          {% if pheno.category %}
            <p>Category: <b>{{ pheno.category}}</b></p>
          {% endif %}
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <div id="lz-1" class="lz-container-responsive" data-region={{ region }}></div>
    </div>

<div class="row">
  <div class="col-xs-12">
    <div id="susie-header">
      <!-- FinnGen logo -->
      <a href="https://www.finngen.fi/en" target="_blank">
        <img src="{{ url_for('bp.static', filename='images/finngen.png') }}"
              alt="FinnGen Logo" class="finngen-logo">
      </a>
      <!-- Title -->
      <h3>SuSiE</h3>
    </div>
  </div>
</div>

<div id="susie-controls">
  <label>
    <input type="checkbox" id="show-endpoints" checked>
    Endpoints
  </label>
  <label>
    <input type="checkbox" id="show-endpoint-codes">
    Endpoint codes
  </label>
  <label>
    <input type="checkbox" id="show-drugs" checked>
    Drugs
  </label>
  <label>
    <input type="checkbox" id="show-atc-codes">
    ATC codes
  </label>
  <label>
    <input type="checkbox" id="show-low-quality">
    Low-quality CS
      <a href="#" class="info-link"
        title="Toggle credible sets where good_cs is false indicating an unreliable credible set">
        <img src="{{ url_for('bp.static', filename='images/info.svg') }}"
            alt="Info" class="info-icon info-icon-inline icon-invert">
      </a>
    </label>
    <label>
      <input type="checkbox" id="susie-filter-top-in-region" checked>
      Top variants in region
      <a href="#" class="info-link"
        title="When enabled, hides credible set rows whose top variant lies outside the current region window.">
        <img src="{{ url_for('bp.static', filename='images/info.svg') }}"
            alt="Info" class="info-icon info-icon-inline icon-invert">
      </a>
    </label>
    <label for="susie-tol">
      Grouping
      <input type="range" id="susie-tol" min="0" max="4" step="1" value="4" list="susie-tol-list">
      <span id="susie-tol-display">All</span>
      <datalist id="susie-tol-list">
        <option value="0" label="0"></option>
        <option value="1" label="10k"></option>
        <option value="2" label="100k"></option>
        <option value="3" label="1M"></option>
        <option value="4" label="All"></option>
      </datalist>
      <a href="#" class="info-link"
        title="Controls how similar credible set intervals must be to be grouped into one row. 
                0 = only identical intervals. 
                10k = intervals whose start and end differ by up to 10k bp.
                All = everything in one row.">
        <img src="{{ url_for('bp.static', filename='images/info.svg') }}"
            alt="Info" class="info-icon info-icon-inline icon-invert">
      </a>
    </label>
  </div>

<div id="finngen-susie-wrapper">
  <div id="finngen-susie"></div>
</div>


<div id="susie-summary"></div>

  <div class="row">
    <div class="col-xs-12">
      <p>GWAS catalog
        <a href="#" class="info-link" title="GWAS catalog last updated {{ gwas_catalog_last_updated or 'unknown' }}">
          <img src="{{ url_for('bp.static', filename='images/info.svg') }}"
               alt="Info" class="info-icon info-icon-inline icon-invert">
        </a>
      </p>
    </div>
  </div>
  <div id="plotly-gwas-catalog"></div>

    <div id="endpoint-row-wrapper">
      <div id="endpoint-controls-wrapper">
        <div id="finngen-logo-wrapper">
          <a href="https://www.finngen.fi/en" target="_blank">
            <img src="{{ url_for('bp.static', filename='images/finngen.png') }}"
                 alt="FinnGen Logo" class="finngen-logo">
          </a>
        </div>
        <div id="endpoint-controls">
          <label for="endpoint-search">
            Search Endpoints
          </label>
          <input type="text" id="endpoint-search" placeholder="Enter a FinnGen endpoint or phenotype..." />
          <label for="endpoint-select" id="endpoint-select-label"></label>
          <select id="endpoint-select"></select>
        </div>
      </div>
      <div id="wordclouds">
        <div id="combined-wordcloud" class="wordcloud-box"></div>
      </div>
    </div>
  
  
  <div id="finngen-gwas-catalog"><p>Select an endpoint to view associations.</p></div>
</div>
{% endblock %}
