/* Reconcile bootstrap3 to typeahead.js (the real Typeahead, not bootstrap-typeahead) */
.twitter-typeahead {
  width: 100%;
}
.tt-menu {
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  width: 100%;
  max-height: 20em;
  overflow-y: auto;
}
.tt-empty-message,
.tt-suggestion {
  padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0081c2; /* just backup for linear-gradientless browsers? */
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
}

/* ---- */

/* StreamTable */
.pagination {
  margin: 0;
}
.stream_table_row {
  margin-top: 10px;
}
#stream_table {
  margin-bottom: 10px;
}

/* ---- */

/* Custom link and JSON container styling */
.custom-link {
  text-decoration: underline;
  color: blue;
  margin: 0 5px;
}
.custom-link:hover,
.custom-link:focus {
  text-decoration: underline;
}

/* Tooltip heading and paragraph styling */
.tooltip-heading {
  margin: 0 0 5px 0;
  font-size: 16px;
}
.tooltip-heading span {
  display: inline-block;
  width: 60ch;
  white-space: normal;
}
.tooltip-paragraph {
  margin: 5px 0;
}

/* JSON container with fixed size, scrollability, and forced wrapping */
.json-container {
  display: none;
  max-height: 200px;
  overflow-y: auto;
  word-wrap: break-word;
  max-width: 60ch;
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 5px;
  background: #f7f7f7;
  font-size: 12px;
  white-space: pre-wrap;
}

/* Footer area in tooltip */
.tooltip-footer {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
}

/* Button styling */
.json-toggle-btn {
  font-size: 12px;
  margin-left: 5px;
}

/* Styling for each study container */
.study-container {
  border: 1px solid #ddd;
  margin: 5px;
  padding: 5px;
}

/* Styling for study paragraphs (forced wrapping and max width) */
.study-paragraph {
  word-wrap: break-word;
  max-width: 60ch;
}

.d3-tip {
  line-height: 1.4;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

#manhattan_plot_container {
  min-width: 700px;
}
#manhattan_plot_container .axis > path.domain {
  stroke-width: 2px;
  stroke: #666;
  fill: none;
}
#manhattan_plot_container .axis g.tick line {
  stroke: #666;
}
#qq_plot_container .axis path.domain {
  stroke: black;
  fill: none;
}
#qq_plot_container .axis g.tick line {
  stroke: #666;
  opacity: 0.3;
}

.pheno-info > p {
  margin-bottom: 0;
}

.section-link {
  margin-right: 20px;
  display: inline;
}

.tabulator .tabulator-footer .tabulator-page.active {
  background-color: #337ab7;
  color: white;
}

.dataTables_length select {
  padding-right: 1.5em;
  background: #fff;
}

#stream_table td {
  padding: 4px;
  padding-left: 6px;
  padding-bottom: 3px;
  font-size: 90%;
}
.nearest_genes_col {
  max-width: 15em;
}