#stream_table td {
    padding: 4px;
    padding-left: 6px;
    padding-bottom: 3px;
    font-size: 90%;
  }
  .nearest_genes_col {
    max-width: 15em;
  }
  
  #alignment-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #streamtable-found {
    font-size: 14px;
    padding: 8px 12px;
  }
  
  .download-button img {
    height: 31px;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid #7ab733;
  }