.lz-toolbar.lz-plot-toolbar {
    text-align: center;
}
.lz-toolbar-left, .lz-toolbar-right {
    display: inline-block;
}
.lz-toolbar-group-start, .lz-toolbar-group-middle, .lz-toolbar-group-end {
    float: none !important;
}
.container {
    width: clamp(90%, 1200px, 95%);
    margin: 0 auto;
    padding: 0 1rem;
}

.lz-container-responsive,
#plotly-gwas-catalog,
#finngen-gwas-catalog {
    overflow-x: auto;
}

#endpoint-controls label {
    display: block;
    margin-top: 8px;
}
#endpoint-search,
#endpoint-select {
    width: 100%;
    max-width: 300px;
    margin-top: 4px;
}
#endpoint-controls-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#endpoint-controls-wrapper img {
    max-height: 70px;
    object-fit: contain;
}

#endpoint-controls {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #endpoint-controls-wrapper {
      flex-direction: column;
      align-items: center;
    }
    #endpoint-controls {
      align-items: center;
    }
}

h1 {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.finngen-logo {
    height: 70px;
}
  
.info-link {
    margin-left: 8px;
    vertical-align: middle;
}
  
.info-icon {
    height: 18px;
    width: 18px;
}